<link rel="icon" type="image/png" href="/themes/shoplocal/assets/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/themes/shoplocal/assets/favicons/favicon.svg" />
<link rel="shortcut icon" href="/themes/shoplocal/assets/favicons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/themes/shoplocal/assets/favicons/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Shop Local" />
<link rel="manifest" href="/themes/shoplocal/assets/favicons/site.webmanifest" />
