description = "Default layout"
default = true
==
{% partial "site/header" %}

<div class="w-screen">
    <nav id="navbar" class="relative w-screen h-20 flex items-center justify-evenly border-b-2 bg-white z-10 *:mx-8">
        <div class="w-full">
            <a class="text-2xl font-bold" href="/">
                Shop Local
            </a>
        </div>
        <div class="flex items-center justify-center text-center space-x-4">

            <a href="{{ 'account/signin' | page }}"
                class="w-24 block py-2 px-4 rounded-lg border border-gray-300 bg-white text-gray-700 hover:bg-slate-200 smooth ">
                Sign In
            </a>

            <a href="{{ 'account/register' | page }}"
                class="block py-2 px-4 rounded-lg border border-indigo-500 bg-indigo-500 text-white hover:bg-indigo-600 smooth">
                Register
            </a>

            <a href="{{ 'cart' | page }}" class="fill-red-500 block py-2 px-4">
                <svg xmlns="http://www.w3.org/2000/svg" height="31px" viewBox="0 -960 960 960" width="31px">
                    <path
                        d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z" />
                </svg>
            </a>
        </div>
    </nav>

    {% page %}
</div>

{% partial "site/footer" %}
