description = "Default layout"
default = true

[account]
paramCode = "code"
redirect = "retailer-form"
forceSecure = 0
requirePassword = 0

[session]
==
{% partial "site/header" %}

<div class="w-screen">
    <nav id="navbar" class="relative w-screen h-20 flex items-center justify-evenly border-b-2 bg-white z-10 *:mx-8">
        <div class="w-full">
            <a class="text-2xl w-fit h-fit font-bold" href="/">
                <img src="{{ 'assets/images/logo2.png' | theme }}" alt="Logo" class="inline-block h-auto max-h-20 w-34 mr-4" />
            </a>
        </div>
        <div class="flex items-center justify-center text-center space-x-4">
            {% if not user %}
            <a href="{{ 'account/signin' | page }}"
                class="block py-2 px-4 w-28 rounded-lg border border-indigo-500 bg-indigo-500 text-white hover:bg-indigo-600 hover:shadow-indigo-400 hover:shadow-md smooth">
                Sign In
            </a>
            <a href="{{ 'account/register' | page }}"
                class="block py-2 px-4 rounded-lg border border-indigo-500 bg-indigo-500 text-white hover:bg-indigo-600 hover:shadow-indigo-400 hover:shadow-md smooth">
                Register
            </a>
            {% else %}
                <a
                    data-request="onLogout"
                    class="block py-2 px-4 rounded-lg border border-indigo-500 bg-indigo-500 text-white hover:bg-indigo-600 smooth"
                >
                    Sign Out
                </a>
            {% endif %}
            <a href="{{ 'cart' | page }}" class="fill-indigo-500 block ml-4 py-2 px-4 smooth hover:scale-105">
                <svg xmlns="http://www.w3.org/2000/svg" height="31px" viewBox="0 -960 960 960" width="31px">
                    <path
                        d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z" />
                </svg>
            </a>
        </div>
    </nav>

    {% page %}
</div>

{% partial "site/footer" %}
